@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<script src="~/js/site.js"></script>

<link href="~/css/site.css" rel="stylesheet" />
<div class="text-center">

    <div class="navbar">
        <img class="medhavilogo" src="" alt="">
        <img src="/NewFolder/download.png" />
        <div class="navcontentbox">
            <a href="#first"> About Us </a>
            <a href="#second"> Courses </a>
            <a href="contact.html"> Contact Us </a>
            <a href="#third"> Socials </a>

            <div class="registerbox">
                <a class="register" href="index1.html"> Register </a>
            </div>
        </div>
    </div>
    <div class="main">
        <div id="first" class="section1">
            <div class="section1top">
                <div class="section1textbox">
                    <br>
                    <p> MEDHAVI MAKES IT EASY </p><br>
                    <span>
                        Join <p1> BBA, BCIS, BHM</p1> <br>
                        Regular classes
                    </span><br><br>
                    <p2>
                        Registration open for all these <br>
                        courses on Medhavi.
                    </p2>
                    <div class="getstartedbox">
                        <p3> Get Started </p3>
                    </div>
                </div>
                <img class="image11" src="image1.png" alt="">
            </div>
            <div class="section1bottom">
                <div class="section1leftbox">
                    <div class="textbox">
                        <br><br>
                        <p4> Welcome to Medhavi College </p4><br>
                        <p5> Leading Institute In Nepal(Pokhara University) </p5><br><br><br>
                        <p6>we believe in empowering students to reach their full potential and embark on a transformative educational journey. Our institution is dedicated to fostering academic excellence, personal growth, and a vibrant learning community. </p6>
                    </div>
                    <div class="viewmorebox">
                        <p7> View More </p7>
                    </div>
                </div>
                <div class="section1rightbox">
                    <div class="bigbox">
                        <img class="bigboximage" src="image2.webp" alt="">
                    </div>
                    <div class="smallbox">
                        <img class="smallboximage" src="image33.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="second" class="section2">
            <p8> Featured Courses </p8>
            <div class="topbox">
                <div class="contentbox1">
                    <img class="cmat" src="2f4e4570-ef9e-4fbf-9cfc-4fb952c47385-cover.png" alt="">
                    <p9> Figma </p9>
                    <div class="innerbox1">
                        <div class="innerleft">
                            <img class="book" src="book.png" alt="">
                            <p10> 10 Classes </p10>
                        </div>
                        <div class="innerright">
                            <img class="human" src="human.png" alt="">
                            <p11> 50 students </p11>
                        </div>
                    </div>
                    <div class="innerbox2">
                        <p12> 4.5 </p12>
                        <div class="starbox">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="halfstar" src="half star.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="contentbox2">
                    <img class="kumat" src="Where-to-learn-Mixology-in-New-Zealand.jpg" alt="">
                    <p9> Mixology </p9>
                    <div class="innerbox1">
                        <div class="innerleft">
                            <img class="book" src="book.png" alt="">
                            <p10> 20 Classes </p10>
                        </div>
                        <div class="innerright">
                            <img class="human" src="human.png" alt="">
                            <p11> 100 students </p11>
                        </div>
                    </div>
                    <div class="innerbox2">
                        <p12> 4.5 </p12>
                        <div class="starbox">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="halfstar" src="half star.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="contentbox3">
                    <img class="sat" src="Thumb-Photoshop-2.webp" alt="">
                    <p9> Photoshop </p9>
                    <div class="innerbox1">
                        <div class="innerleft">
                            <img class="book" src="book.png" alt="">
                            <p10> 10 Classes </p10>
                        </div>
                        <div class="innerright">
                            <img class="human" src="human.png" alt="">
                            <p11> 30 students </p11>
                        </div>
                    </div>
                    <div class="innerbox2">
                        <p12> 4.5 </p12>
                        <div class="starbox">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="halfstar" src="half star.png" alt="">
                        </div>
                        <div class="arrowbox"></div>
                    </div>
                </div>
            </div>
            <div class="bottombox">
                <div class="contentbox4">
                    <img class="IT" src="tally.png" alt="">
                    <p9> Tally </p9>
                    <div class="innerbox1">
                        <div class="innerleft">
                            <img class="book" src="book.png" alt="">
                            <p10> 20 Classes </p10>
                        </div>
                        <div class="innerright">
                            <img class="human" src="human.png" alt="">
                            <p11> 50 students </p11>
                        </div>
                    </div>
                    <div class="innerbox2">
                        <p12> 4.5 </p12>
                        <div class="starbox">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="halfstar" src="half star.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="contentbox5">
                    <img class="career" src="Personality-development-tips-Soulveda.jpg" alt="">
                    <p9> Personality Development </p9>
                    <div class="innerbox1">
                        <div class="innerleft">
                            <img class="book" src="book.png" alt="">
                            <p10> 20 Classes </p10>
                        </div>
                        <div class="innerright">
                            <img class="human" src="human.png" alt="">
                            <p11> 400 students </p11>
                        </div>
                    </div>
                    <div class="innerbox2">
                        <p12> 4.5 </p12>
                        <div class="starbox">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="star" src="star.png" alt="">
                            <img class="halfstar" src="half star.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="third" class="section3">
            <div class="section3top">
                <img class="design1" src="design.png" alt="">
                <img class="design2" src="design.png" alt="">
                <p133> Our Faculty </p133>
                <br><p16>
                    Our teaching panel consists of highly regarded and experienced <br>
                    &nbsp &nbsp &nbsp &nbsp faculties in the field of BCIS, BHM, BBA regular class
                </p16>
                <div class="imagesbox">
                    <div class="image1">
                        <img class="iimage1" src="a.png" alt="">
                        <p14> BCIS </p14>
                        <p15> (IT) </p15>
                    </div>
                    <div class="image2">
                        <img class="iimage2" src="b.png" alt="">
                        <p14> BBA </p14>
                        <p15> (Business) </p15>
                    </div>
                    <div class="image3">
                        <img class="iimage3" src="c.png" alt="">
                        <p14> BHM </p14>
                        <p15> (Hospitality) </p15>
                    </div>
                </div>
            </div>
            <div class="section3bottom">
                <div class="options">
                    <p13>Help</p13>
                    <p13>Privacy Policy</p13>
                    <p13>Terms & Conditions</p13>
                </div>
                <div class="socialmedia">
                    <a href="https://www.facebook.com/medhavi.college"><img class="smicon" src="cib_facebook.png" alt=""> </a>
                    <a href=""> <img class="smicon" src="entypo-social_linkedin-with-circle.png" alt=""> </a>
                    <a href=""> <img class="smicon" src="ant-design_twitter-circle-filled.png" alt="">  </a>
                </div>
                <input type="text" placeholder="Feedback" required>
                <a href="submit.html"><button onclick="Submit"> Submit </button></a>
            </div>

        </div>
    </div>
</div>
